body {
    background-color: lightskyblue;
  }

  main{



    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    color: maroon;
    font-size: 33px; 
    cursor: -webkit-grab;   
    width: 100%;
    max-width: 1920px;
    min-width: 480px;
    height: 200px;
    margin-left: -8px;
    text-align: center;
    clear: both;
    display: inline-block; /*Important */
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    padding: 100px 0 0;

}

.button_normal{
    padding: 7px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position:inherit;


}

.button_red{
    background-color: red;
    padding: 7px 50px;
    text-align: center;
    font-size: 16px;
    margin: 4px 12px;
    cursor: pointer;
    position:inherit;

    
}

/* New container to match the dimensions of the phone or any other screen */
.container{
    width: 100%;
    max-width: 1920px;
    min-width: 480px;
    height: 200px;
    margin-left: -8px;
    overflow: hidden;
    text-align: center;
}